@model IEnumerable<cardstore_MVC.Models.CardListing>
@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-center">Listings : </h2>
<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-outline-primary" asp-action="AddorEdit">Create New Ticket</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListingName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>

                <td class="text-center">
                    <a asp-action="AddOrEdit" class="btn btn-outline-primary" asp-route-CardNum="@item.CardNum">Edit</a>
                </td>
                <td class="text-center">
                    <a asp-action="Details" class="btn btn-outline-info" asp-route-CardNum="@item.CardNum">Details</a>
                </td>
                <td class="text-center">
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-CardNum="@item.CardNum">Delete</a>
                </td>




            </tr>
            }
        </tbody>
    </table>
</div>

